.navbar-custom .navbar-brand span {
    font-size: 1rem; 
  }

  .navbar-custom .nav-link {
    font-size: 1rem; 
  }
  
  .navbar-custom .dropdown-menu {
    font-size: 1rem; 
    background-color: #343a40; 
    color: #fff;
  }
  .navbar-custom .dropdown-menu .dropdown-item {
    font-size: 0.95rem; 
    color: #fff; 
  }

  .navbar-custom .dropdown-menu .dropdown-item:hover {
    background-color: #495057; 
    
  }

.navbar-custom .navbar-brand:hover .self-center {
  color: rgb(0, 238, 255) !important;
}

.navbar-custom .nav-link:hover {
  color: rgb(0, 238, 255) !important;
}


.navbar-custom .dropdown-menu .dropdown-item:hover {
  color:rgb(0, 238, 255) !important;
}

  